$meetup-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$border-bottom: 1px solid rgb(216, 187, 187);

.show-navbar-container{
    border-top: 1px solid rgb(211, 211, 211);
    display: flex;
}

.show-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-family: $meetup-font;
    width: 100%;
    height: 55px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-bottom: $border-bottom;
    // border: red 1px solid;
}

#nav-button:focus {
    color: rgb(12, 147, 201);
}

// .current {
//     color: rgb(12, 147, 201);
// }

.show-nav-btns {
    // border: medium red solid;
    display: flex;
}

#pink-btn-show-pg {
    width: fit-content;
    display: flex;
    align-items: center;
    // border: blueviolet 1px solid;
    position: relative;
}

// #show-pg-pink-btn {
//     border: chartreuse 10px solid;
//     display: flex;
//     justify-content: center;
//     align-items: center;

// }

// #show-pg-pink-btn > button {

// }

.tabs-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    // border: solid 1px green;
}

.tab {
    // border: solid orange 1px;
    display: block;
    // justify-content: space-around;
    font-size: 14px;
    background-color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.tab-content {
    display: block;
    margin-top: 5%;
    // border: 1px black solid;
    height: fit-content;
    width: 50%;
    margin-left: 30%;
    margin-bottom: 40px;
    font-size: 16px;
}

.tab > li {
    text-decoration: none;
}

.tab-header {
    // border: 1px solid palevioletred;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // padding-top: 5px;
    padding-bottom: 4px;
    // display: flex;
    // justify-content: flex-end;
    background-color: white;
    font-family: $meetup-font;
    // padding: 16px 16px 8px;
    width: 100%;
    height: 100%;
}

#current {
    color: rgb(12, 147, 201);
}

.tab-header-container {
    // border: black 1px solid;
    // display: flex;
    // justify-content: space-between;
    width: inherit;
    height: inherit;
    // border: purple 1px solid;
}