$meetup-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$pg-background-color: rgb(245, 245, 247);

.group-list-container {
    /* border: lime 1px solid; */
    font-family: $meetup-font;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
}

.group-list {
    /* border: maroon 1px solid; */
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    background-color: $pg-background-color;
}

.grid-item {
    border-radius: 4px;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    color: white;
}

.group-item {
    /* border: black 1px solid; */
    border-radius: 4px;
}

