.covid-alert {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: $covid-background-color;
    font-family: $meetup-font;
    font-size: 13px;
}

.covid-alert-header {
    display: inline;
    background-color: $covid-background-color;
    color: orange;
}

.covid-alert p {
    display: inline;
    margin-left: 10px;
    color: white;
}