.login-signup-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-family: $meetup-font;
    padding: 16px 16px 8px;
    border-bottom: $border-bottom;
}

.loggedIn-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: $meetup-font;
    padding: 16px 16px 8px;
    border-bottom: $border-bottom;
}

.left-header {
    width: 40%;
    display: flex;
    justify-self: space-between;
    align-items: center;
    background-color: white;
}

.logout-btn {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    background-color: white;
    color: slategray;
}

#signup-link {
    margin: 16px;
    text-decoration: none;
    color: slategray;
}

#login-link {
    margin: 16px;
    text-decoration: none;
    color: slategray;
}

#explore {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    background-color: white;
    color: slategray;
    padding: 16px;
}

#special-offer {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: white;
    font-size: 14px;
    color: rgb(87, 166, 185);
    font-weight: bolder;
    border-right: rgb(221, 218, 218) 1px solid;
    text-align: center;
}

#logout {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: white;
    font-size: 14px;
    color: slategray;  
}

#nav-links-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.nav-btns { 
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-size: 14px;
}