.landing-nav {
    height: 120px;
    background-color: rgb(46, 51, 65);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
}

.index-toggle {
    margin-right: 25%;
    display: flex;
    justify-content: space-between;
    min-width: fit-content;
    background-color: rgb(46, 51, 65);
}

.index-toggle > button {
    border: $border-bottom;
    color: rgb(46, 51, 65);
    font-weight: 900;
    font-size: 18px;
    font-family: $meetup-font;
    z-index: 2;
    padding: 10px 10px;
    margin-left: 200px solid;
    background-color: white;
}

.index-toggle > button:hover {
    border: white 3px solid;
    background-color: rgb(46, 51, 65);
    color: white;
}

.search-bar {
    width: 30%;
    height: 30%;
    border-radius: 12px;
    border: 1px solid $border-bottom;
    margin-right: 3%;
    background-color: white;
    padding-left: 10px;
    font-family: $meetup-font;
}

.search-bar:focus {
    border: rgb(0, 102, 255) 2px solid;
}

#toggle-selected {
    border: white 3px solid;
    background-color: rgb(46, 51, 65);
    color: white;
}