.landing-nav-container {
    min-width: 100%;
    background-color: rgb(46, 51, 65);
    display: flex;
    justify-content: center;
}

.landing-nav {
    height: 120px;
    background-color: rgb(46, 51, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 815px;
    width: 50%;
    z-index: 0;
}

#landing-search {
    width: 75%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    font-family: $meetup-font;
}

#landing-search > select {
    height: 100%;
    border-radius: 60px;
    background-color: white;
    border: none;
    width: 30%;
    cursor: pointer;
}

#landing-search > select:focus {
    border: none;
}

#landing-search > input {
    border-radius: 12px;
    width: 65%;
    padding-left: 10px;
}

.index-toggle-container {
    background-color: rgb(46, 51, 65);
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.index-toggle {
    display: flex;
    justify-content: space-between;
    min-width: fit-content;
    background-color: rgb(46, 51, 65);
}

.index-toggle > button {
    border: $border-bottom;
    color: rgb(46, 51, 65);
    font-weight: 900;
    font-size: 18px;
    font-family: $meetup-font;
    z-index: 2;
    padding: 10px 10px;
    margin-left: 200px solid;
    background-color: white;
}

.index-toggle > button:hover {
    border: white 3px solid;
    background-color: rgb(46, 51, 65);
    color: white;
}

.search-bar {
    width: 30%;
    height: 30%;
    border-radius: 12px;
    border: 1px solid $border-bottom;
    margin-right: 3%;
    background-color: white;
    padding-left: 10px;
    font-family: $meetup-font;
}

.search-bar:focus {
    border: rgb(0, 102, 255) 2px solid;
}

#toggle-selected {
    border: white 3px solid;
    background-color: rgb(46, 51, 65);
    color: white;
}