$meetup-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$pg-background-color: rgb(245, 245, 247);

.group-index-page {
    // border: black 1px solid;
    display: flex;
    justify-content: center;
}

.group-list-container {
    // border: lime 1px solid;
    display: flex;
    justify-content: center;
    font-family: $meetup-font;
    width: 900px;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.group-list {
    // border: maroon 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // column-gap: 10px;
    row-gap: 10px;
    // padding: 10px;
    background-color: $pg-background-color;
}

.grid-item {
    border-radius: 4px;
    // background-color: black;
    text-align: center;
    font-weight: bolder;
    padding: 40px;
    width: 60%;
    height: 100px;
    color: white;
    cursor: pointer;
    background-image: image_url('after_work_drinks.jpg');
    background-repeat: no-repeat;
    background-size: 500px 300px;
    // position: relative;
    // position: right;
}

.group-item {
    /* border: black 1px solid; */
    border-radius: 4px;
}

