.tab-event-item {
    border-radius: 12px;
    background-color: white;
    margin-right: 5px;
}

.tab-event-item:hover {
    box-shadow:
        0 0 2.8px 2.2px rgba(0, 0, 0, 0.024),
        0 0 4.8px 4.2px rgba(0, 0, 0, 0.038),
        0 0 5px 4.4px rgba(0, 0, 0, 0.05),
        // 0 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.tab-event {
    background-color: inherit;
    // border: red 7px solid;
    border-radius: 12px;
    margin: 0px 20px;
    cursor: pointer;
}

.tab-event-head {
    // border: green 6px solid;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding-top: 20px;
}

.tab-event-head-info {
    background-color: inherit;
    // border: springgreen 9px solid;
    width: 60%;
}

.ge-datetime {
    background-color: inherit;
    color: rgb(57, 146, 146);

    // border: indigo 4px solid;
}

.group-event-img {
    width: 25%;
    min-height: 100px;
    border-radius: 16px;
    font-size: 18px;
    margin: 1% 0%;
}

.tab-event-foot {
    background-color: inherit;

    // border: hotpink 5px solid;
}

.ge-name {
    background-color: inherit;
    font-weight: 700;
    font-size: 18px;
    // border: lightseagreen 2px solid;
}

.ge-desc {
    background-color: inherit;

    display: block;
    overflow: hidden;
    // border: lime 8px solid;
    max-height: 100px;
    overflow: scroll;

}

.group-event-bar {
    background-color: inherit;

    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-event-bar > p {
    background-color: inherit;

    // border: springgreen 10px solid;
}

.group-event-bar > button {
    background-color: inherit;

    border: rgb(57, 146, 146) 2px solid;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(57, 146, 146);
}

.group-event-bar > button:hover {
    background-color:  rgb(57, 146, 146);
    border: white 2px solid;
    color: white;
}

.add-event {
    // border: slateblue 1px solid;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.add-event> i{
    display: flex;
    align-items: center;
    color: gray;
    // border: violet 1px solid;
}

.add-event> h3 {
    color: gray;
    font-family: $meetup-font;
    // border: turquoise 1px solid;
}