.member-section {
    display: flex;
    justify-content: flex-end;
    min-height: 330px;
    min-width: 930px;
}

.member-container {
    display: flex;
    justify-content: flex-start;
    height: 500px;
    width: 40%;
}

.members-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 7%;
    width: 55%;
    min-height: fit-content;
    height: 70%;
    font-family: $meetup-font;
}

.member-list-container {
    width: 100%;
}

.member-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.member-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    row-gap: 5%;
    column-gap: 5%;
    width: 100%;
    max-width: 378px;
    min-height: fit-content;
}

.member-list-item {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 120px;
    background-image: image_url('white-claws.jpg');
    background-repeat: no-repeat;
    background-size: 100px 80px;
}

.member-photo {
    display: flex;
    border-radius: 200px;
    margin: 10px;
    height: 80px;
    width: 14.5%;
    background-image: image_url('workout_flex.jpg');
    background-repeat: no-repeat;
    background-size: 90px 90px;
}

.tab-member {
    display: flex;
    align-items: center;
    min-height: fit-content;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 14px;
    background-color: white;
    margin: 10px;
}