.tab-event-item {
    border-radius: 12px;
    background-color: white;
    margin-right: 5px;
}

.tab-event-item:hover {
    box-shadow:
        0 0 2.8px 2.2px rgba(0, 0, 0, 0.024),
        0 0 4.8px 4.2px rgba(0, 0, 0, 0.038),
        0 0 5px 4.4px rgba(0, 0, 0, 0.05),
}

.tab-event {
    background-color: inherit;
    border-radius: 12px;
    margin: 0px 20px;
    cursor: pointer;
}

.tab-event-head {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding-top: 20px;
}

.tab-event-head-info {
    background-color: inherit;
    width: 60%;
}

.ge-datetime {
    background-color: inherit;
    color: rgb(57, 146, 146);
}

.group-event-img {
    width: 25%;
    min-height: 100px;
    border-radius: 16px;
    font-size: 18px;
    margin: 1% 0%;
}

.group-event-img > img {
    width: 100%;
    min-height: 100px;
    height: 100px;
    border-radius: 16px;
}

.tab-event-foot {
    background-color: inherit;
}

.ge-name {
    background-color: inherit;
    font-weight: 700;
    font-size: 18px;
}

.ge-desc {
    background-color: inherit;

    display: block;
    overflow: hidden;
    max-height: 100px;
    overflow: scroll;

}

.group-event-bar {
    background-color: inherit;

    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-event-bar > p {
    background-color: inherit;
}

.group-event-bar > button {
    background-color: inherit;

    border: rgb(57, 146, 146) 2px solid;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(57, 146, 146);
}

.group-event-bar > button:hover {
    background-color:  rgb(57, 146, 146);
    border: white 2px solid;
    color: white;
}

.add-event {
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.add-event> i{
    display: flex;
    align-items: center;
    color: gray;
}

.add-event> h3 {
    color: gray;
    font-family: $meetup-font;
}