.show-pg-header-container {
    display: flex;
    align-items: flex-end;
    height: fit-content;
    font-family: $meetup-font;
    background-color: white;
}

.show-pg-header {
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    background-color: white;
}

.img-details-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 335px;
    width: 100%;
}

.img-details-header {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 53%;
    max-width: 60%;
    min-width: 645px;
}

.show-img-container {
    border-radius: 10px;
    height: 300px;
    min-width: 360px;
    width: 600px;
    background-image: image_url('white-dress-color-backgroud.jpg');
    background-repeat: no-repeat;
    background-size: 100% 116.67%;
}

.show-details-container {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    width: 30%;
}

.show-details {
    display: block;
    height: 200px;
    width: 100%;
    background-color: white;
    padding-left: 10%;
}

.show-details > h1 {
    font-size: 24px;
    font-weight: 900;
    width: 100%;
}

.show-sub-details {
    background-color: white;
    padding-top: 5%;
    height: fit-content;
    display: flex;
}

.show-detail-icons {
    text-align: right;
    background-color: inherit;
}

.show-detail-info {
    background-color: inherit;
}

.organizer-info {
    display: flex;
    align-items: center;
    background-color: inherit;
}

.organizer-info > p {
    margin-right: 3px;
}

#organizer {
    font-weight: 700;
    font-size: 16px;
}
