i {
    margin-right: 10px;
}

.logo {
    background-color: white;
    cursor: pointer;
    background-image: image_url("meetup.png");
    background-repeat: no-repeat;
    height: 55px;
    // height: fit-content;
    width: 30%;
    background-position: center;
    background-color: white;
    background-size: 100% 50px;
    cursor: pointer;
    // border: black 0.5px solid;
}

// #logo-icon {
//     color:$pink-btn-color;
//     font-size: 50px;
// }

.dot {
    height: 1px;
    width: 1px;
}

#splash-current { 
    // background-color: grey;
    color: teal;
}