.group-img-container-1 {
    margin-right: 40px;
    height: 300px;
    width: 600px;
    background-image: url(image_url('white-dress-color-backgroud.jpg'));
    background-repeat: no-repeat;
    background-size: 600px 350px;
}

// .group-img-container-2 {
//     margin-right: 40px;
//     height: 300px;
//     width: 600px;
//     background-image: image_url('band.jpg');
//     background-repeat: no-repeat;
//     background-size: 600px 350px;
// }

// .group-img-container-3 {
//     margin-right: 40px;
//     height: 300px;
//     width: 600px;
//     background-image: image_url('white-dress-color-backgroud.jpg');
//     background-repeat: no-repeat;
//     background-size: 600px 350px;
// }

// .group-img-container-4 {
//     margin-right: 40px;
//     height: 300px;
//     width: 600px;
//     background-image: image_url('white-dress-color-backgroud.jpg');
//     background-repeat: no-repeat;
//     background-size: 600px 350px;
// }

// .group-img-container-5 {
//     margin-right: 40px;
//     height: 300px;
//     width: 600px;
//     background-image: image_url('white-dress-color-backgroud.jpg');
//     background-repeat: no-repeat;
//     background-size: 600px 350px;
// }

// .group-img-container-6 {
//     margin-right: 40px;
//     height: 300px;
//     width: 600px;
//     background-image: image_url('white-dress-color-backgroud.jpg');
//     background-repeat: no-repeat;
//     background-size: 600px 350px;
// }

// .group-img-container-7 {
//     margin-right: 40px;
//     height: 300px;
//     width: 600px;
//     background-image: image_url('white-dress-color-backgroud.jpg');
//     background-repeat: no-repeat;
//     background-size: 600px 350px;
// }