.group-img-container-1 {
    margin-right: 40px;
    height: 300px;
    width: 600px;
}

.group-img-container-1 > img {
    margin-right: 40px;
    height: 300px;
    width: 600px;
    border: 10px solid green;
}