div {
    background-color: $pg-background-color;
}


.entity-form-page {
    font-family: $meetup-font;
    border-radius: 8px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    background-color: white;
    border: $border-bottom;
    min-width: fit-content;
    width: 40%;
    z-index: 3;
    box-shadow: $box-shadow;
}

.entity-form-container {
    border-radius: 8px;
    min-width: fit-content;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.form-container {
    width: 93%;
    max-width: 93%;
}


.entity-form-header {
    background-color: white;
    width: 92%;
    max-width: 92%;
    padding: 4%;
    border-radius: 8px;
}

.user-input > input {
    width: 96%;
    padding: 5px 5px;
}

.user-input > textarea {
    background-color: $pg-background-color;
    width: 96%;
    height: 200px;
    padding: 5px 5px;
}

.user-input > textarea:focus {
    border: 1px solid rgb(0, 119, 255);
}

.user-input select {
    width: 100%;
    margin-bottom: 5%;
}

.form-btns-container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.form-submit-btn {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 40%;
}

.cancel-btn {
    width: 40%;
    display: flex;
    justify-content: center;
}

.form-submit-btn > input {
    background-color: $pink-btn-color;
    font-family: $meetup-font;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    height: fit-content;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-submit-btn > input:hover {
    background-color: #c41633;
    cursor: pointer;
}

#pg_size {
    height: 1000px;
}