.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.footer {
    width: 100%;
    height: 200px;
    background: rgb(51, 57, 65);
}

.sub-footer {
    width: 100%;
    /* border: red 1px solid; */
    background-color: rgb(43, 73, 100);
    height: 100px;

}