.splash-tab { 
    background-color: white;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.splash-tab-content > i {
    color: teal;
    background-color: white;
    border-radius: 12px;
    font-size: 28px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

.splash-tab-content > i:hover {
    background-color: rgb(175, 174, 174);
    color: white;
    cursor: pointer;
}

.splash-tab-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    width: 100%;
}

.splash-tab-content > article {
    max-width: 50%;
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding: 2% 0%;
}

.splash-tab-content > article > div {
    background-color: white;
    border-radius: 12px;
    color: black;
    font-weight: 300;
 }

 .splash-tab-content > article > div > h3 {
    font-size: 24px;
    font-weight: 900;
 }

#works-content {
    width: fit-content;
    font-size: 28px;
    background-color: white;
    border-radius: 12px;
    min-width: 60%;
}

.slide-section2 {
    max-width: 15%;
    font-size: 14px;
    background-color: white;
    border-radius: 12px;

    margin-bottom: 5%;
    color: grey;
}

.splash-eachtab {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 12px;
}

#splash-circle {
    background-color: whitesmoke;
}

#group-tab-0 {
    background-image: image_url("couch-comradery.jpg");
    background-size: 100% 140%;
    background-position: center;
}

#group-tab-1 {
    background-image: image_url("embrace.jpg");
    background-position: bottom;
    background-size: 100% 120%;
}

#group-tab-2 {
    background-image: image_url("taking-in-the-sites.jpg");
    background-position: center;
    background-size: 100% 100%;
}

#works-tab-0 {
    margin-top: 10%;
    background-image: image_url("star-wars.jpg");
    background-position-y: 93%;
    background-color: rgb(45, 93, 107);
    box-shadow: $box-shadow;
    background-size: 100% 280%;
}  

#works-tab-1 {
    margin-top: 10%;
    background-image: image_url("dia-de-los-muertos.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-color: inherit;
    box-shadow: $box-shadow;
}

#works-tab-2 {
    margin-top: 10%;
    background-image: image_url("got-hands.jpg");
    background-size: 100% 100%;;
    background-position: center;
    background-color: rgb(3, 58, 75);
    box-shadow: $box-shadow;
}