.mem-idx-pg {
    display: flex;
    justify-content: center;
    min-height: fit-content;
}

.mem-idx-style-bar {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: $footer-color;
}

.member-index {
    z-index: 1;
    border-radius: 12px;
    background-color: white;
    width: 30%;
    display: block;
    overflow: scroll;
    margin: 3% 0%;
    font-family: $meetup-font;
}

.mem-idx-header {
    display: flex;
    align-items: center;
    border-radius: inherit;
    background-color: inherit;
    min-height: fit-content;
    height: 10%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.mem-idx-link {
    color: rgb(87, 166, 185);
    font-size: 16px;
    font-weight: 400;
    height: 50%;
    margin-bottom: 10px;
    padding: 1%;
}

.mem-idx-link:hover {
    text-decoration: underline;
}

.mem-idx-info {
    height: fit-content;
    width: 100%;
}

.mem-idx-info > h3 {
    padding: 1%;
    font-size: 16px;
    background-color: white;
    font-weight: 500;
    margin-bottom: 0px;
    margin: 0px;
}

#mem-idx-arrow {
    color: lightgrey;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}

.mem-idx-info {
    background-color: white;
}

.mem-index-item {
    margin: 0% 5%;
    width: 90%;
    display: flex;
    align-items: center;
    border-bottom: lightgrey 1px solid;
}

.mem-index-img {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin: 2% 5%;
}
