.search-idx-pg {
    // border: orange 5px solid;
    display: flex;
    justify-content: center;
    background-color: white;
}

.search-idx {
    // border: 5px solid blue;
    width: 50%;
    background-color: white;

}

.search-index-item {
    font-family: $meetup-font;
    // border: 3px solid green;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    background-color: white;
    height: 160px;
    border-bottom: 0.5px solid rgb(211, 211, 211);
}

.search-index-img {
    // border: 1px solid black;
    height: 70%;
    width: 20%;
    margin-top: 2%;
    margin-right: 2%;
    background-color: white;
    border-radius: 8px;
    background-image: image_url("communion.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200%;
}

.search-idx-info {
    // border: red 7px solid;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2%;
    margin-right: 2%;
    width: 70%;
    height: 70%;
    background-color: white;

}

.search-idx-datetime {
    color: rgb(156, 127, 54);
    margin-bottom: 2%;
}

.search-idx-group {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0.5%;
}

.search-idx-users {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2.5%;
    color: grey;
    background-color: white;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    // border: rgb(156, 127, 54) 10px solid;
}

.circle-users {
    background-color: white;
    display: flex;
    // border: red 10px solid;
    // margin-right: -2%;
    // width: 100px;
}

.user-count {
    // border: rgb(156, 127, 54) 10px solid;
    background-color: white;
    // margin
}

#user1-circle {
    border: white 4px solid;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    z-index: 1;
    margin-right: -10%;
    background-image: image_url("respected.jpg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;


}

#user2-circle {
    border: white 4px solid;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    z-index: 2;
    margin-right: -10%;
    background-image: image_url("solo-girl.jpg");
    background-repeat: no-repeat;
    background-size: 30px 30px;

}

#user3-circle {
    border: white 4px solid;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    z-index: 3;
    margin-right: -10%;
    background-image: image_url("sis.jpg");
    background-repeat: no-repeat;
    background-size: 40px 30px;
    background-position: center;

}