.attendee-section {
    display: flex;
    justify-content: center;
    height: 550px;
}

.attendee-container {
    width: 100%;
}

.attendee-list-container {
    height: 95%;
    padding-left: 2%;
    font-family: $meetup-font;
}

.attendee-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#see-all {
    color: rgb(87, 166, 185);
    margin-right: 5%;
}

#see-all:hover {
    text-decoration: underline;
}

.attendee-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 8%;
    height: 85%;
}
.attendee-list-item {
    height: 80px;
    min-height: 195.5px;
    max-height: 195.5px;
    width: 80%;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendee-photo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    border-radius: 8px;
}

.attendee-photo {
    border-radius: 90px;
    height: 80px;
    width: 80px;
}

.attendee-photo > img {
    border-radius: 90px;
    height: 80px;
    width: 80px;
}

.attendee-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendee-name > p {
    width: fit-content;
    text-align: center;
}