.attendee-section {
    display: flex;
    justify-content: center;
    // border: lightcoral 10px solid;
    height: 500px;
}

.attendee-container {
    width: 35%;
    // padding-left: 2%;
    // border: lawngreen 10px solid;
}

.attendee-list-container {
    // border: crimson 3px solid;
    height: 100%;
}

.attendee-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 8%;
    height: 85%;
    // border: blue 1px solid;
}
.attendee-list-item {
    height: 100%;
    width: 80%;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    // border: coral 2px solid;
    // display: flex;
    // justify-content: center;
}

.attendee-photo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    border-radius: 8px;
}

.attendee-photo {
    background-image: image_url('in_the_mud.jpg');
    background-repeat: no-repeat;
    background-size: 90px 90px;
    border-radius: 90px;
    height: 80px;
    width: 80px;
    // border: purple 1px solid;
}