.event-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
    height: 100px;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    border-top: $border-bottom;
}

.event-bar {
    width: 55%;
    min-width: 980px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: white;
}

.event-bar-info {
    width: 55%;
    text-align: start;
    margin-right: 4%;
    background-color: white;
    font-family: $meetup-font;
    padding-top: 12px;
}

.event-bar-info > h3 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 300;
}

.event-bar-info > h1 {
    font-size: 16px;
    font-weight: 700;
}


.event-bar-right {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    background-color: white;
}

.event-bar-right > p {
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 18px;
    font-family: $meetup-font;
    font-weight: 600;
}

.event-pink-btn {
    width: 100%;
    margin: auto;
    margin-right: 10%;
    width: 50%;
    padding-top: 5px;

    display: flex;
    justify-content: center;
    background-color: white;
}

.event-pink-btn > button {
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    background-color: $pink-btn-color;
    color: white;
    font-family: $meetup-font;
    font-size: 18px;
    text-align: center;
}

.event-pink-btn > button:hover {
    background-color: #c41633;
    cursor: pointer;
}

#edit-event {
    margin-right: 10px;
}

#delete-event {
    margin-left: 10px;
}