.event-show-pg {
    // border: green 10px solid;
}

.show-pg-header-container {
    // border: hotpink 10px solid;
}

.details-section-container{
    display: flex;
    justify-content: center;
    // border: blue 10px solid;
}

.details-section {
    width: 53%;
    padding-left: 2%;
    // border: indigo 10px solid;
}

.event-group-container {
    display: flex;
    justify-content: center;
}

.event-group {
    width: 53%;
    padding-left: 2%;
}