.event-show-body-container {
    width: 65%; 
}

.event-show-body {
    margin-top: 5%;
    width: 600px;
}

.event-img-container {
    height: 300px;
    display: flex;
    justify-content: center;
}

.event-img {
    height: 100%;
    width: 90%;
}

.event-img > img {
    height: 100%;
    width: 100%;
}