.event-show-body-container {
    width: 56%; 
    display: flex;
    justify-content: flex-end;
}

.event-show-body {
    margin-top: 5%;
    width: 600px;
}

.event-img-container {
    height: 300px;
    display: flex;
    justify-content: center;
}

.event-img {
    height: 100%;
    width: 90%;
    background-image: image-url('brunch.jpg');
    background-repeat: no-repeat;
    background-size: 600px 350px;
}