.details-section-container{
    display: flex;
    justify-content: center;
    // border: blue 10px solid;
}

.details-section {
    width: 100%;
    padding-left: 2%;
    // border: indigo 10px solid;
}